/* estilos.css */
body {
    font-family: 'Arial', sans-serif;
    background-image: url('https://images.unsplash.com/photo-1581022295087-35e593704911?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    color: #d6336c;
    text-align: center;
    padding: 20px;
}

.contenido {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 50px;
    border-radius: 15px;
    margin: auto;
    max-width: 800px;
}

.boton {
    background-color: #ff69b4;
    color: white;
    padding: 15px 30px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.boton:hover {
    background-color: #ff1493;
}

.respuesta-oculta {
    display: none;
    margin-top: 20px;
}
